@{
    Layout = null;
    var SeriesTitle = "The Amazing Spider-man";
    var IssueNumber = 400 ;
    var description = "<p> FInal issue!</p>";
    var artists = new string[]
    {
        "Script: Dan Slott",
        "Pencils: Humberto",
        "Inks: Victor",
        "Colors: Edgar Delgado",
        "Letters: Chris Elio"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <h1>@SeriesTitle</h1>
    <h2>Issue @IssueNumber</h2>
    <h5>Decription</h5>
    <div>@Html.Raw(description)</div>
    @if (artists.Length>0)
    {
        <h5>Artists: </h5>
        <div>
            <ul>
                @foreach (var artist in artists)
                {
                    <li>@artist</li>
                }
            </ul>

        </div>
    }
</body>
</html>
